body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
    background-color: black;
}

a {
    /* text-decoration: none; */
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    color: #6e92c9;
}

.project-link {
    width: 10%;
    text-align: center;
}

.leftCenter {
    position: fixed;
    float: left;
    margin-top: 49vh;
    left: 1%;
    /* font-family: Verdana; */
    /* font-weight: bold; */
    /* font-size: 13px; */
    /* letter-spacing: 0.1em; */
    /* color: #3e52a4; */
}

.rightCenter {
    position: fixed;
    float: right;
    margin-top: 49vh;
    right: 1%;
    /* color: #3e52a4; */
    /* font-family: verdana; */
    /* font-weight: bold; */
}

.leftTop {
    position: fixed;
    float: top;
    left: 1%;
    top: 100px;
    /* color: #3e52a4; */
    /* text-decoration: none; */
    cursor: pointer;
    /* font-family: Arial; */
    /* font-weight: bold; */
}

.leftBottom {
    position: fixed;
    float: bottom;
    left: 1%;
    bottom: 100px;
    font-family: Times;
    /* text-decoration: underline; */
    /* color: #3e52a4; */
}

.rightBottom {
    position: fixed;
    float: bottom;
    right: 1%;
    bottom: 100px;
    /* color: #3e52a4; */
    /* font-family: 'Times New Roman', Times, serif; */
}

.rightTop {
    position: fixed;
    float: top;
    right: 1%;
    top: 100px;
    /* text-decoration: none; */
    /* color: #3e52a4; */
    /* font-family: 'Times New Roman', Times, serif; */
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    color: white;
}