body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}