body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2em;
    background-color: black;
    color: white;
}

a {
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    color: #5191f1;
    #275dad
}

a:hover {
    /* color: #275dad */
    filter: brightness(70%)
}

.project-link {
    /* width: 10%; */
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
}

.center-container {
    max-width: 45%;
}

.left-container,
.right-container {
    display: flex;
    max-width: 20%;
    height: calc(100vh - 2rem);
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.footer {
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
}

.border-line {
    border-top: 1px solid lavender;
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
}

.footer a {
    font-weight: inherit;
    font-size: 1.2rem;
}


/* for mobile */

.hide {
    visibility: hidden;
    display: none;
}

@media (max-width: 678px) {
    div.mobile-container {
        display: block;
        visibility: visible;
        z-index: 100;
        height: 100%;
        right: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        position: fixed;
        background-color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2.5rem;
    }
    p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .signoff {
        text-align: left;
    }
}