body {
    background-color: black;
    font-family: Arial;
    /* font-weight: bold; */
    text-decoration: none;
    color: grey;
    font-size: 200%;
    margin: 3em 40% 5% 9em;
}

.second {
    visibility: hidden;
}

a {
    color: #4d6ad8;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

a:hover {
    color: #8ea6ff;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    position: fixed;
    /* height: 50px; */
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.project-link {
    /* color: #FF66FF !important; */
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.8em;
    text-align: center;
}